<!DOCTYPE html>
<html>
  <head>
    <title>Metrogas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Site BackEnd</h1>
    <p>Bienvenido a Metrogas</p>
  </body>
</html>
